{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}
    <!-- Main content -->
    <section class="content">

        <div class="box box-solid box-default">
            <div class="box-header with-border">
                <h1 class="box-title">
                    <strong> Review
                        Shipment </strong></h1> - Review finalized shipments and add products to the POS -


                <div class="box-tools pull-right">
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                {% if messages %}
                    <div class="row">
                        <div style="margin-left:auto; margin-right:auto;">
                            {% for message in messages %}
                                <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %}>
                                    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                    <p>{{ message }}</p>
                                </div>
                                </div>
                            {% endfor %}

                    </div>
                {% endif %}


                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h1 class="box-title"> 1. Search for a shipment</h1>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-4 center">
                            <form id="frmsearchShipment" action="{% url 'mainSection:reviewshipment' %}"
                                  method="POST">
                                {% csrf_token %}
                                <div class="im-centered row">
                                    <div class="col-md-8 mb-6">
                                        <select name="shipmentDropDown" id="shipmentDropDown"
                                                class="form-control"
                                                required>
                                            <option value="">-Shipment Number-</option>
                                            {% for shipment in shipments %}
                                                {% if shipment.isClosed %}
                                                {% endif %}
                                                <option value="{{ shipment.id }}">{{ shipment.shipmentNumber }}
                                                </option>
                                            {% endfor %}

                                        </select>
                                    </div>

                                    <div class="col-md-2 mb-4">
                                        <input id="btnLoad" class="btn btn-primary" style="font-size: 14px;"
                                               type="submit"
                                               name="shipmentid" value="Search"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h1 class="box-title">2. Review the shipment</h1>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row" style="margin-left:auto; margin-right:auto; margin-top: 2em">
                            <div class="col-md-3 mb-4">
                                <strong> Shipment No - </strong>
                                <p class="text-danger"><strong> {{ selectedShipment.shipmentNumber }} </strong>
                                </p>
                            </div>

                            <div class="col-md-3 mb-4">
                                <strong> Shipment Date -</strong>
                                <p class="text-danger"><strong>  {{ selectedShipment.shipmentDate }} </strong>
                                </p>
                            </div>


                            <div class="col-md-3 mb-4">
                                <strong> Shipment Total -</strong>
                                <p class="text-danger"><strong> {{ shipmentTotal|intcomma }}</strong></p>

                            </div>
                            <div class="col-md-3 mb-4">
                                <strong> Shipment Qty - </strong>
                                <p class="text-danger"><strong> {{ shipmentTotalQty|intcomma }} </strong></p>
                            </div>

                            <div class="col-md-3 mb-4">
                                <strong> Shipping From - </strong>
                                <p class="text-danger"><strong>  {{ selectedShipment.shippingPoint }}</strong>
                                </p>
                            </div>

                            <div class="col-md-3 mb-4">
                                <strong> Buyer - </strong>
                                <p class="text-danger">
                                    <strong>  {{ selectedShipment.buyer.first_name }} {{ selectedShipment.buyer.last_name }} </strong>
                                </p>
                            </div>

                            <div class="col-md-3 mb-4">
                                <strong> Shipment Weight (Tot.) - </strong>
                                <p class="text-danger"><strong>  {{ shippingWeightKG }} Kgs </strong></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box">
                    <div class="box-body">
                        <table id="tblProduct" class="hover" style="width:100%">
                            <thead>
                            <tr>

                                <th style="text-align: right; max-width:100%; word-wrap:break-word;"></th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">SKU
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Type
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Weight
                                    (gms)
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Price
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">QTY
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Total
                                    Amount
                                </th>

                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">
                                    Vendor
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Image
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Bill
                                    Number
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Bill
                                    Date
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Cost
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Selling
                                    price 50%
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Selling
                                    price 75%
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Selling
                                    price
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for shipmentdetail in shipmentDetails %}
                                <tr>

                                    {% if shipmentdetail.is_checked %}
                                        <td>
                                            <button id="btnModel" type="button"
                                                    data-url="{% url 'mainSection:updateproduct' shipmentdetail.product.id %}"
                                                    class="btn btn-primary js-update">
                                                <i class="fa fa-check-circle"></i>

                                            </button>
                                        </td>
                                    {% else %}
                                        <td>
                                            <button id="btnModel" type="button"
                                                    data-url="{% url 'mainSection:updateproduct' shipmentdetail.product.id %}"
                                                    class="btn btn-danger js-update">
                                                <i class="fa fa-check-circle"></i>

                                            </button>
                                        </td>

                                    {% endif %}
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.product.sku }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.product.types }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.weight }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.indPrice|intcomma }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.qty|intcomma }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.totalAmount|intcomma }}</td>

                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.product.vendor }}</td>

                                    {% if shipmentdetail.product.productImg %}
                                        <td>
                                            <p style="text-align:right"><img
                                                    src="{{ shipmentdetail.product.productImg.url }}"
                                                    width="100px;"></p>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.billNumber }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.billDate }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">
                                        {{ shipmentdetail.cost|floatformat:2 }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">
                                        {{ shipmentdetail.sellingPrice50|floatformat:2|intcomma}}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">
                                        {{ shipmentdetail.sellingPrice75|floatformat:2|intcomma}}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">
                                        {{ shipmentdetail.sellingPrice|floatformat:2|intcomma}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>

                <!-- /.box-body -->
                <!-- end of the Grid section -->

            </div><!-- /.box-body -->
        <form id="frmsearchShipmentClose" action="{% url 'mainSection:closeshipment' %}"
                                  method="POST">
            {% csrf_token %}
            <div class="box-footer">
                <div class="row">
                    <div style="margin-left:auto; margin-right:20px;">
                        <button id="btnFinalize" class="btn btn-danger" type="submit" name="shipmentid"
                                data-toggle="modal"
                                data-target="#confirmModal">Close Shipment
                        </button>
                    </div>
                </div>
            </div><!-- box-footer -->
        </form>

        </div>


    </section>
    <!-- /.content -->
    <!-- Modal -->
    <div class="modal" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reviewModalLabel">Product Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                </div>

            </div>
        </div>
    </div>

{% endblock content %}


{% block scripts %}
    <script src="{% static '/js/select2.full.min.js' %}"></script>
    <script src="{% static '/js/jquery.dataTables.min.js' %}"></script>

    <script>
        $(function () {
            var btn = null;
            $('button[id="btnModel"]').click(function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#reviewModal").modal("show");

                    },
                    success: function (data) {
                        $("#reviewModal .modal-body").html(data.html_form);
                    }
                });
            });

        });

    </script>


    <script>

        // This funtion is related to Datagrid Table
        $(function () {

            $('#tblProduct').DataTable({
                'paging': true,
                'searching': false,
                'ordering': true,
                'info': true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                'autoWidth': true
            })
        });


    </script>

    <script>
        $('#frmfillShipment').submit(function () {
            document.getElementById("loading").style.display = "visible";
        });
    </script>

{% endblock scripts %}
