{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}

    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">

        <div class="box box-solid box-default">
            <div class="box-header with-border">
                <h1 class="box-title">
                    <strong> View
                    Shipment </strong> </h1> - Search and view shipments -


                <div class="box-tools pull-right">
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
                {% if messages %}
                    <div class="row">
                        <div style="margin-left:auto; margin-right:auto;">
                            {% for message in messages %}
                                <div class="alert alert-danger alert-dismissible">
                                    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Error! </strong>
                                    <p>{{ message }}</p>
                                </div>
                                </div>
                            {% endfor %}

                    </div>
                {% endif %}


                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h1 class="box-title"> 1. Search for a shipment</h1>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-4 center">
                            <form id="frmsearchShipment" action="{% url 'mainSection:viewshipment' %}"
                                  method="POST">
                                {% csrf_token %}
                                <div class="im-centered row">
                                    <div class="col-md-8 mb-6">
                                        <select name="shipmentDropDown" id="shipmentDropDown"
                                                class="form-control"
                                                required>
                                            <option value="">-Shipment Number-</option>
                                            {% for shipment in shipments %}
                                                {% if shipment.isClosed %}
                                                {% endif %}
                                                <option value="{{ shipment.id }}">{{ shipment.shipmentNumber }}
                                                </option>
                                            {% endfor %}

                                        </select>
                                    </div>

                                    <div class="col-md-2 mb-4">
                                        <input id="btnLoad" class="btn btn-primary" style="font-size: 14px;"
                                               type="submit"
                                               name="shipmentid" value="Search"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h1 class="box-title">2. Search results</h1>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row" style="margin-left:auto; margin-right:auto; margin-top: 2em">
                            <div class="col-md-3 mb-4">
                                <strong> Shipment No - </strong>
                                <p class="text-danger"><strong> {{ selectedShipment.shipmentNumber }} </strong>
                                </p>
                            </div>

                            <div class="col-md-3 mb-4">
                                <strong> Shipment Date -</strong>
                                <p class="text-danger"><strong>  {{ selectedShipment.shipmentDate }} </strong>
                                </p>
                            </div>


                            <div class="col-md-3 mb-4">
                                <strong> Shipment Total -</strong>
                                <p class="text-danger"><strong> {{ shipmentTotal|intcomma }}</strong></p>

                            </div>
                            <div class="col-md-3 mb-4">
                                <strong> Shipment Qty - </strong>
                                <p class="text-danger"><strong> {{ shipmentTotalQty|intcomma }} </strong></p>
                            </div>

                            <div class="col-md-3 mb-4">
                                <strong> Shipping From - </strong>
                                <p class="text-danger"><strong>  {{ selectedShipment.shippingPoint }}</strong>
                                </p>
                            </div>

                            <div class="col-md-3 mb-4">
                                <strong> Buyer - </strong>
                                <p class="text-danger">
                                    <strong>  {{ selectedShipment.buyer.first_name }} {{ selectedShipment.buyer.last_name }} </strong>
                                </p>
                            </div>

                            <div class="col-md-3 mb-4">
                                <strong> Shipment Weight (Tot.) - </strong>
                                <p class="text-danger"><strong>  {{ shippingWeightKG }} Kgs </strong></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box">
                    <div class="box-body">
                        <table id="tblProduct" class="hover" style="width:100%">
                            <thead>
                            <tr>


                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">SKU
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Type
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Weight
                                    (gms)
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Price
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">QTY
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Total
                                    Amount
                                </th>

                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">
                                    Vendor
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Image
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Bill
                                    Number
                                </th>
                                <th style="text-align: right; max-width:100%; word-wrap:break-word;">Bill
                                    Date
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for shipmentdetail in shipmentDetails %}
                                <tr>


                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.product.sku }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.product.types }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.product.weight }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.indPrice|intcomma }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.qty|intcomma }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.totalAmount|intcomma }}</td>

                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.product.vendor }}</td>

                                    {% if shipmentdetail.product.productImg %}
                                        <td>
                                            <p style="text-align:right"><img
                                                    src="{{ shipmentdetail.product.productImg.url }}"
                                                    width="100px;"></p>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.billNumber }}</td>
                                    <td style="text-align: right; max-width:100%; word-wrap:break-word;">{{ shipmentdetail.billDate }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>

                <!-- /.box-body -->
                <!-- end of the Grid section -->

            </div><!-- /.box-body -->
            <div class="box-footer">

            </div><!-- box-footer -->

        </div>
    </section>
    <!-- /.content -->

{% endblock content %}


{% block scripts %}
    <script src="{% static '/js/select2.full.min.js' %}"></script>
    <script src="{% static '/js/jquery.dataTables.min.js' %}"></script>



    <script>

        $(document).ready(function () {
            // This funtion will determine if a shipment is loaded. if not, This function will disable the add product button.
            if ($("#lblShipmentNumber").text().trim().length > 2) {
                alert(document.getElementById("lblShipmentNumber").text().trim().length);
                document.getElementById("btnAddItem").disabled = false;
                document.getElementById("divStatus").style.visibility = 'visible';
                document.getElementById("btnFinalize").disabled = false;

            } else {
                document.getElementById("btnAddItem").disabled = true;
                document.getElementById("btnFinalize").disabled = true;

            }
        });

        // This funtion is related to Datagrid Table
        $(function () {

            $('#tblProduct').DataTable({
                'paging': true,
                'searching': false,
                'ordering': true,
                'info': true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                'autoWidth': true
            })
        });


    </script>


    <script>
        $('#frmsearchShipment').submit(function () {
            document.getElementById("loading").style.display = "visible";
        });
    </script>

{% endblock scripts %}
